Γùç injected env (5) from .env.local // tip: Γîü auth for agents [www.vestauth.com]
-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "public";

-- CreateEnum
CREATE TYPE "Role" AS ENUM ('USER', 'MIDWIFE', 'ADMIN');

-- CreateEnum
CREATE TYPE "FlowIntensity" AS ENUM ('spotting', 'light', 'medium', 'heavy');

-- CreateEnum
CREATE TYPE "Mood" AS ENUM ('great', 'good', 'neutral', 'low', 'terrible');

-- CreateEnum
CREATE TYPE "VitalType" AS ENUM ('bp', 'glucose', 'weight');

-- CreateEnum
CREATE TYPE "ReminderCategory" AS ENUM ('medication', 'appointment', 'vaccination', 'checkup', 'other');

-- CreateTable
CREATE TABLE "User" (
    "id" TEXT NOT NULL,
    "email" TEXT NOT NULL,
    "passwordHash" TEXT NOT NULL,
    "role" "Role" NOT NULL DEFAULT 'USER',
    "name" TEXT NOT NULL,
    "dob" TIMESTAMP(3) NOT NULL,
    "heightCm" DOUBLE PRECISION NOT NULL DEFAULT 158,
    "location" TEXT NOT NULL DEFAULT 'Colombo, Sri Lanka',
    "languagePref" TEXT NOT NULL DEFAULT 'en',
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "User_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "CycleLog" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "date" TIMESTAMP(3) NOT NULL,
    "flowIntensity" "FlowIntensity" NOT NULL,
    "cramps" INTEGER NOT NULL,
    "mood" "Mood" NOT NULL,
    "symptoms" TEXT[],
    "note" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "CycleLog_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "VitalLog" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "date" TIMESTAMP(3) NOT NULL,
    "vitalType" "VitalType" NOT NULL,
    "value" JSONB NOT NULL,
    "classification" TEXT NOT NULL,
    "classificationColor" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "VitalLog_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Reminder" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "title" TEXT NOT NULL,
    "description" TEXT,
    "time" TIMESTAMP(3) NOT NULL,
    "category" "ReminderCategory" NOT NULL,
    "isCompleted" BOOLEAN NOT NULL DEFAULT false,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "Reminder_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "PinkBook" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "registrationNumber" TEXT NOT NULL DEFAULT '',
    "registeredClinic" TEXT NOT NULL DEFAULT '',
    "edd" TEXT NOT NULL DEFAULT '',
    "ttDose1" BOOLEAN NOT NULL DEFAULT false,
    "ttDose1Date" TEXT NOT NULL DEFAULT '',
    "ttDose2" BOOLEAN NOT NULL DEFAULT false,
    "ttDose2Date" TEXT NOT NULL DEFAULT '',
    "ironAdherence" INTEGER NOT NULL DEFAULT 0,
    "childName" TEXT NOT NULL DEFAULT '',
    "childDob" TEXT NOT NULL DEFAULT '',
    "ancVisits" JSONB NOT NULL DEFAULT '[]',
    "vaccinations" JSONB NOT NULL DEFAULT '[]',
    "growthRecords" JSONB NOT NULL DEFAULT '[]',
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "PinkBook_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Clinic" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "type" TEXT NOT NULL,
    "location" TEXT NOT NULL,
    "demand" INTEGER NOT NULL DEFAULT 0,
    "priority" INTEGER NOT NULL DEFAULT 5,

    CONSTRAINT "Clinic_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ClinicEdge" (
    "id" TEXT NOT NULL,
    "fromId" TEXT NOT NULL,
    "toId" TEXT NOT NULL,
    "weight" INTEGER NOT NULL,

    CONSTRAINT "ClinicEdge_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "AuditLog" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "action" TEXT NOT NULL,
    "tableName" TEXT NOT NULL,
    "recordId" TEXT NOT NULL,
    "timestamp" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "AuditLog_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "User_email_key" ON "User"("email");

-- CreateIndex
CREATE INDEX "CycleLog_userId_date_idx" ON "CycleLog"("userId", "date");

-- CreateIndex
CREATE INDEX "VitalLog_userId_date_idx" ON "VitalLog"("userId", "date");

-- CreateIndex
CREATE INDEX "VitalLog_userId_vitalType_idx" ON "VitalLog"("userId", "vitalType");

-- CreateIndex
CREATE INDEX "Reminder_userId_time_idx" ON "Reminder"("userId", "time");

-- CreateIndex
CREATE UNIQUE INDEX "PinkBook_userId_key" ON "PinkBook"("userId");

-- CreateIndex
CREATE INDEX "PinkBook_userId_idx" ON "PinkBook"("userId");

-- CreateIndex
CREATE UNIQUE INDEX "Clinic_name_key" ON "Clinic"("name");

-- CreateIndex
CREATE INDEX "ClinicEdge_fromId_toId_idx" ON "ClinicEdge"("fromId", "toId");

-- CreateIndex
CREATE UNIQUE INDEX "ClinicEdge_fromId_toId_key" ON "ClinicEdge"("fromId", "toId");

-- CreateIndex
CREATE INDEX "AuditLog_userId_timestamp_idx" ON "AuditLog"("userId", "timestamp");

-- CreateIndex
CREATE INDEX "AuditLog_action_idx" ON "AuditLog"("action");

-- CreateIndex
CREATE INDEX "AuditLog_tableName_idx" ON "AuditLog"("tableName");

-- AddForeignKey
ALTER TABLE "CycleLog" ADD CONSTRAINT "CycleLog_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "VitalLog" ADD CONSTRAINT "VitalLog_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Reminder" ADD CONSTRAINT "Reminder_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "PinkBook" ADD CONSTRAINT "PinkBook_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ClinicEdge" ADD CONSTRAINT "ClinicEdge_fromId_fkey" FOREIGN KEY ("fromId") REFERENCES "Clinic"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ClinicEdge" ADD CONSTRAINT "ClinicEdge_toId_fkey" FOREIGN KEY ("toId") REFERENCES "Clinic"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "AuditLog" ADD CONSTRAINT "AuditLog_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

